appdirs==1.4.0
boxsdk==1.5.3
configparser==3.5.0
cx-Oracle==5.2.1
Django==1.10.5
django-bootstrap3==8.1.0
django-static-jquery==2.1.1
packaging==16.8
pyparsing==2.1.10
requests==2.13.0
requests-toolbelt==0.7.1
six==1.10.0
