{% extends "base.html" %}
{% block content %}

<div class="row col-lg-12">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading dash-text ">
                <h3 class="panel-title">Most Run Job</h3>
            </div>
            <div class="panel-body dash-text ">
                {{ dashboard.mostRunJob.jobName }}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading dash-text ">
                <h3 class="panel-title">Least Run Job</h3>
            </div>
            <div class="panel-body dash-text ">
                {{ dashboard.leastRunJob.jobName }}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading dash-text ">
                <h3 class="panel-title">Total Time Ran</h3>
            </div>
            <div class="panel-body dash-text ">
                {{ dashboard.totalTimeRan.hours }} Hours {{ dashboard.totalTimeRan.minutes }} Minutes {{ dashboard.totalTimeRan.seconds }} Seconds
            </div>
        </div>
    </div>
</div>
<div id="grafix" class="row col-lg-12">
    <div class="col-lg-9" id="barg">
        <svg height="650" width="1100"></svg>
    </div>
    <div class="col-lg-3" id="pieg">
        <svg height="250" width="250"></svg>
        <div id="jobLabel" height="100" width="250">
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'barchart.js' %}" ></script>
<script src="{% static 'piechart.js' %}" ></script>

{% endblock %}