{% extends "base.html" %}

{% block content %}

{% csrf_token %}
<form class="form-signin" method="post" action="{% url 'login' %}">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="form.username" class="sr-only">Username</label>
    <input type="email" id="form.username" class="form-control" placeholder="Username" required autofocus>
    <label for="form.password" class="sr-only">Password</label>
    <input type="password" id="form.password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}" />

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</form>

{% endblock %}